img {
    width: 100%;
    height: fit-content;
}

h1 {
    color: white;
}

.form-label {
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.edit {
    right: 15px;
    position: absolute;
    background: transparent;
    border: none;
}